.header {
    display: flex;
    justify-content: flex-start;
    padding: 0.9rem 0 0.9rem 3rem;
    background-color: rgb(33, 33, 38);
    border-bottom: 1px solid rgb(121, 121, 121);
    align-items: center;
  }

  .walletInfo {
    display: flex;
    justify-content: space-between;
  }

  .walletInputs {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    gap: 25px;
    padding-right: 3rem;
  }

  .logo {
    border-radius: 369px;
    background-color: #61dafb;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

  .tabList {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px;
    align-items: center;
    display: flex;
    gap: 20px;
    text-align: center;
  }

  .tab{
    align-items: center;
  }

  .form{
    padding: 0.69rem;
    border-radius: 0.69rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .button{
    align-items: center;
    justify-content: space-between;
  }